.background{
    background-image: url(https://wallpapers.com/images/hd/silver-aesthetic-car-wash-av2eptgo6na7ybh8.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
/*The background puts a background image on the page and the width and height customizes the size of the image and back position centers the image.*/
*{
    margin: 0;
    padding: 0;
}
/*No inside spacing or outside spacing.*/
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
/*It customizes the nav bar*/
li{
    float: left;
}
/*Puts all the words next to eachother*/
li a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}
/*It customizes the words on the nav bar*/
li a:hover{
    color: grey;
}
/*When you hover over the words on the nav bar they turn grey*/
h1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 80px;
    color: white;
}
/*Customizes the heading of the website*/
p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
    color: white;
}
/*Customizes the slogan on the website*/